/*
 *= require twitter/bootstrap
 *= require_self
 *= require_tree .
 */

@import "variables";

#application-info {
  margin-top: 80px;
}

.application-container {
  margin-top: 40px;
}

.loading-notice {
  color: $gray;
  margin: 20px 0;
}
