@import 'variables';

.tweet {
  margin: 8px 0;

  .profile-image {
    float: left;
    margin-right: 10px;

    img {
      width: 48px;
      height: 48px;
      border-radius: 5px;
    }
  }

  .date {
    color: $gray;
    float: right;
  }

  .full-name {
    font-weight: bold;
  }

  .screen-name {
    font-size: small;
    color: $gray;
  }

  .text {
    margin-top: 5px;
  }
}
