.tweet {
  margin: 8px 0;

  .profile-picture {
    float: left;
    margin-right: 10px;

    .profile-picture-img {
      width: 48px;
      height: 48px;
    }
  }

  .full-name {
    font-weight: bold;
  }

  .screen-name {
    font-size: small;
    color: #999;
  }

  .text {
    margin-top: 5px;
  }
}
